    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <header>
        <div class="title">
            <a href="index.html">
                <h1>MusiCR</h1>
                <h5>Sitio web dedicado a la música de Costa Rica</h5>
            </a>
        </div>
        
        <nav>
            <a href="artistas.html">Artistas/Bandas</a>
            <a href="albumes.html">Álbumes</a>
            <a href="generos.html">Géneros</a>
            <a href="noticias.html">Noticias</a>
            <a href="listas.html">Listas</a>
            <a href="foro.html">Foro</a>
            <a href="perfil.html">Perfil</a>
        </nav>

    </header>