<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre y comparte música costarricense - MusiCR</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>

    <form action="#">

        <fieldset>
            <legend>Datos Personales</legend>
            <label for="correo">Correo Electrónico</label>
            <input type="email" id="correo" required maxlength="70" name="correo">
            <label for="contrasenia">Contraseña</label>
            <input type="password" id="contrasenia" required max="30" name="contrasenia">

            <input type="submit" name="enviar" id="enviar" value="Ingresar">
        </fieldset>

    </form>
  
</body>
</html>